<div id="setPassword-modal">
  <div style="color: red;text-align: center;padding-top: 3%;" class="alert alert-danger" role="alert" [hidden]="isError">
    <strong>Warning!</strong> {{errorMsg}}
  </div>
  <div align="center">
    <h1>{{'Set password' | translate }}</h1>
  </div>
  <div class="lblWarn">
    <form #form="ngForm" novalidate>
      <div class="input-div">
        <span class='label-receiver-span'>
          <!-- <label for="password" class="placeholder-label">{{'Enter New Password' | translate }}</label> -->
          <input [ngClass]="{'red-validation':(invalidForm && !formInfo.password)}" placeholder="Enter New Password" id="password"
            type="password" [(ngModel)]="formInfo.password" name="password" required />
          <span *ngIf="invalidForm && !formInfo.password" class="red-span">{{'Required field' | translate }}</span>
          <span class="input-span"></span>
        </span>
      </div>
      <br>

      <div class="input-div">
        <span class='label-receiver-span'>
          <input [ngClass]="{'red-validation':(invalidForm && !formInfo.confirmpassword)}" placeholder="Confirm Password" id="confirmpassword"
            type="password" #confirmpassword="ngModel" [(ngModel)]="formInfo.confirmpassword" name="confirmpassword" validateEqual="password"
            required />
          <!-- <span *ngIf="invalidForm && !formInfo.confirmpassword" class="red-span">{{'Required field' | translate }}</span> -->
          <span [hidden]="confirmpassword.valid || confirmpassword.pristine" class="red-span">Passwords did not match</span>
          <span class="input-span"></span>
        </span>
      </div>

      <div id="bottom">
        <button [disabled]="!isError" (click)="updatePassword(form)">
          {{'Update Password' | translate }}</button>
      </div>
    </form>
  </div>
</div>