<div class="body">
  <h1>POLÍTICA DE PRIVACIDAD Y DE PROTECCIÓN DE DATOS DE CARÁCTER PERSONAL</h1>
  <p>
    FLYANDCLAIM, garantiza el pleno cumplimiento de la normativa de Protección de Datos de Carácter Personal, y así, de acuerdo con la Ley Orgánica 15/1999, de 13 de diciembre, para el caso de que el usuario facilite sus datos personales por algún medio,
    queda informado y presta su consentimiento expreso a la incorporación de sus datos personales a los ficheros automatizados existentes en FLYANDCLAIM y al tratamiento automatizado de los mismos, incluyendo aquéllos a los que FLYANDCLAIM tenga acceso
    como consecuencia de su navegación por esta página Web, para las finalidades de envío de comunicaciones comerciales o publicitarias. Los destinatarios de dichos datos serán los servicios comerciales y técnicos de FLYANDCLAIM. Dichas acciones comerciales
    podrán ser realizadas por correo electrónico u otro medio de comunicación electrónica equivalente.
    <br><br> La política de privacidad de FLYANDCLAIM, le asegura, en todo caso, el ejercicio de los derechos de acceso, rectificación, cancelación, oposición, y en su caso impugnación, en los términos establecidos en la legislación vigente, sin perjuicio
    del derecho que asiste a FLYANDCLAIM de resolver el contrato u operación de que se trate, cuando dichos datos fueran imprescindibles para el buen fin de los mismos, pudiendo utilizar para ello carta escrita dirigida al representante legal de FLYANDCLAIM,
    S.L, con CIF B-87931481y domicilio social en Calle Castillo de Malpica 96, 28692, Villanueva de la Cañada, Madrid, Madrid, España con Código de Identificación Fiscal B-87931481. El propietario del fichero automatizado denominado -clientes y/o proveedores-
    es: FLYANDCLAIM.
    <br><br> El usuario acepta que puedan ser cedidos sus datos, exclusivamente para las finalidades a las que se refiere este aviso legal, a otras entidades colaboradoras de FLYANDCLAIM. Asimismo, el usuario acepta que FLYANDCLAIM, o sus colaboradores,
    le remitan información sobre cualesquiera productos o servicios que comercialicen. La aceptación del usuario para que puedan ser tratados o cedidos sus datos en la forma establecida en este párrafo, tiene siempre carácter revocable, sin efectos retroactivos,
    conforme a lo que disponen los artículos 6 y 11 de la Ley Orgánica 15/1999 de 13 de diciembre.
    <br><br> Por último, le informamos que no está obligado a facilitar sus datos personales para el acceso y uso de esta Web, excepto para la solicitud de información, suscripción o contratación de algún servicio, siendo siempre su decisión voluntaria
    al respecto. En caso de negativa a facilitar los datos solicitados para el acceso algún servicio o suscripción determinada, debe saber que no podrá acceder o utilizar los mismos.
    <br><br> En cualquier caso, debe extremar el cuidado cuando facilite datos en línea, de tal modo, que terceros ajenos puedan acceder a dicha información y enviarle correos electrónicos no deseados, declinando FLYANDCLAIM cualquier responsabilidad
    al respecto.
    <br><br> FLYANDCLAIM S.L. - Todos los derechos reservados.
  </p>
</div>
