<div id="forgot-modal" *ngIf="!resendComponent">
  <h1>{{'Restore password' | translate }}</h1>
  <p>{{'Enter the email address associated with your account and we will send you a link to reset your password.' | translate
    }}
  </p>
  <form #form="ngForm" novalidate>
    <div class="input-div">
      <span class='label-receiver-span'>
        <input [ngClass]="{'red-validation':(invalidForm && !formInfo.email)|| mailError  || (invalidForm && form.hasError('email', 'email'))}"
          id="email" type="text" [(ngModel)]="formInfo.email" name="email" (keydown)=removeMailError() email required />
        <label for="email" class="placeholder-label">{{'E-mail' | translate }}</label>
        <span *ngIf="invalidForm && !formInfo.email" class="red-span">{{'Required field' | translate }}</span>
        <span *ngIf="mailError" class="red-span">{{'This e-mail does not exists' | translate }}</span>
        <span *ngIf="form.hasError('email', 'email') && invalidForm && formInfo.email" class="red-span">{{'Invalid email format' | translate }}</span>
        <span class="input-span"></span>
      </span>
    </div>


    <div id="bottom">
      <div class="svg-icon">
        <svg viewBox="0 0 18 18" role="presentation" aria-hidden="true" focusable="false">
          <path d="m16.29 4.3a1 1 0 1 1 1.41 1.42l-8 8a1 1 0 0 1 -1.41 0l-8-8a1 1 0 1 1 1.41-1.42l7.29 7.29z" fill-rule="evenodd"></path>
        </svg>
        <a (click)="forgotPassword()">{{'Return to Login' | translate }}</a>
      </div>
      <a>
        <button (click)="sendLink(form)">{{'Send link' | translate }}</button>
      </a>

    </div>
  </form>
</div>
<div *ngIf="resendComponent">
  <app-resend-recovery [resendComponent]="resendComponent" (goBack)="showLogin($event)"></app-resend-recovery>
</div>