<h1>{{'How does it work?' | translate }}</h1>
<div id="display">
  <div class="flex">
    <img src="../../../assets/web-icons/terminal.svg">
    <h3>{{'Log in' | translate }} <br> {{'or sign up' | translate }}</h3>
    <p>{{'You will get a promotional code that you can share with anyone who has had an incident on your flight.' | translate }}</p>
  </div>
  <div class="flex">
    <img src="../../../assets/web-icons/share.svg">
    <h3>{{'Win 10€ each time' | translate }} <br> {{'they use your code' | translate }}</h3>
    <p>{{'Share your promotional code. Friends, family, travel partners, anyone can be entitled to compensation and not know it.' | translate }}</p>
  </div>
  <div class="flex">
    <img src="../../../assets/web-icons/inspiration.svg">
    <h3>{{'Everybody' | translate }} <br> {{'wins' | translate }}</h3>
    <p>{{'If a passenger uses your code they will receive 10€ more in their compensation. Convince them and make them win more!' | translate }}</p>
  </div>
  <div class="flex">
    <img src="../../../assets/web-icons/chart.svg">
    <h3>{{'Control your' | translate }} <br> {{'activity' | translate }}</h3>
    <p>{{'You can see the status of your promotions in the section' | translate }} <span (click)="yourPromoCode()">{{'Your promotional code' | translate }}</span></p>
  </div>
</div>
