<div class="body">
  <h1>POLÍTICA DE COOKIES FLYANDCLAIM</h1>

  <h3>Información general</h3>

  <p>
    Una cookie es un pequeño fichero informático que se descarga en el equipo del Usuario al acceder a determinadas páginas web. Este tipo de ficheros no puede dañar su equipo. Las cookies permiten a una página web, entre otras cosas, almacenar y recuperar
    información sobre el uso del sitio web, lo que nos permite mejorar su calidad y ofrecerle una mejor experiencia de usuario. Las cookies son esenciales para el funcionamiento de Internet, ya que aportan innumerables ventajas en la prestación de servicios
    interactivos y facilitan la navegación y usabilidad de nuestra web. Es posible que si deshabilita las cookies no pueda disfrutar de la totalidad de los servicios prestados a través de la presente página web, tenga problemas de usabilidad o tenga problemas
    con el inicio y mantenimiento de su sesión.
    <br><br> A continuación, se realiza una clasificación de las cookies en función de una serie de categorías. No obstante, es necesario tener en cuenta que una misma cookie puede estar incluida en más de una categoría.
  </p>
  <ol>
    <h3><li>Tipos de cookies según la entidad que las gestione</li></h3>
    <p>
      Según quien sea la entidad que gestione el equipo o dominio desde donde se envían las cookies y trate los datos que se obtengan, podemos distinguir:
      <br><br> - Cookies propias: Son aquéllas que se envían al equipo terminal del usuario desde un equipo o dominio gestionado por el propio editor y desde el que se presta el servicio solicitado por el usuario.
      <br><br> - Cookies de tercero: Son aquéllas que se envían al equipo terminal del usuario desde un equipo o dominio que no es gestionado por el editor, sino por otra entidad que trata los datos obtenidos través de las cookies.
      <br><br> En el caso de que las cookies sean instaladas desde un equipo o dominio gestionado por el propio editor pero la información que se recoja mediante éstas sea gestionada por un tercero, no pueden ser consideradas como cookies propias.
    </p>

    <h3><li>Tipos de cookies según el plazo de tiempo que permanecen activadas</li></h3>
    <p>
      Según el plazo de tiempo que permanecen activadas en el equipo terminal podemos distinguir:
      <br><br> - Cookies de sesión: Son un tipo de cookies diseñadas para recabar y almacenar datos mientras el usuario accede a una página web.
      <br><br> - Cookies persistentes: Son un tipo de cookies en el que los datos siguen almacenados en el terminal y pueden ser accedidos y tratados durante un periodo definido por el responsable de la cookie, y que puede ir de unos minutos a varios
      años.
    </p>

    <h3><li>Tipos de cookies según su finalidad</li></h3>
    <p>
      Según la finalidad para la que se traten los datos obtenidos a través de las cookies, podemos distinguir entre:
      <br><br> - Cookies técnicas: Son aquéllas que permiten al usuario la navegación a través de una página web, plataforma o aplicación y la utilización de las diferentes opciones o servicios que en ella existan.
      <br><br> - Cookies de personalización: Son aquéllas que permiten al usuario acceder al servicio con algunas características de carácter general predefinidas en función de una serie de criterios en el terminal del usuario como por ejemplo serian
      el idioma, el tipo de navegador a través del cual accede al servicio, la configuración regional desde donde accede al servicio, etc.
      <br><br> - Cookies de análisis: Son aquéllas que permiten al responsable de las mismas, el seguimiento y análisis del comportamiento de los usuarios de los sitios web a los que están vinculadas. La información recogida mediante este tipo de
      cookies se utiliza en la medición de la actividad de los sitios web, aplicación o plataforma y para la elaboración de perfiles de navegación de los usuarios de dichos sitios, aplicaciones y plataformas, con el fin de introducir mejoras en función
      del análisis de los datos de uso que hacen los usuarios del servicio.
      <br><br> - Cookies publicitarias: Son aquéllas que permiten la gestión, de la forma más eficaz posible, de los espacios publicitarios que, en su caso, el editor haya incluido en una página web, aplicación o plataforma desde la que presta el
      servicio solicitado en base a criterios como el contenido editado o la frecuencia en la que se muestran los anuncios.
      <br><br> - Cookies de publicidad comportamental: Son aquéllas que permiten la gestión, de la forma más eficaz posible, de los espacios publicitarios que, en su caso, el editor haya incluido en una página web, aplicación o plataforma desde la
      que presta el servicio solicitado. Estas cookies almacenan información del comportamiento de los usuarios obtenida a través de la observación continuada de sus hábitos de navegación, lo que permite desarrollar un perfil específico para mostrar
      publicidad en función del mismo.
      <br><br>
    </p>
  </ol>
  <h3>Relación y descripción de las cookies</h3>
  <p>Según lo dispuesto en el artículo 22.2 de la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y de Comercio Electrónico (LSSI-CE), informamos de las cookies utilizadas en nuestra página web: </p>
  <table>
    <tr>
      <th>Nombre de la cookie</th>
      <th>Finalidad</th>
      <th>Caducidad</th>
    </tr>
    <tr>
      <td>SSID</td>
      <td>Cookie propia. Mantenimiento de la sesión de usuario a lo largo de la web y formularios.</td>
      <td>1 año</td>
    </tr>
  </table>

  <h3>Terceros</h3>
  <p>
    Nosotros también podremos permitir a determinados socios comerciales colocar estas tecnologías en FLYANDCLAIM. Tales socios utilizan estas tecnologías 1) para ayudarnos a analizar de qué modo utiliza usted la FLYANDCLAIM, por ejemplo mediante la anotación
    de los servicios de terceros desde los que usted llegó, 2) para venderle o anunciarle a usted Servicios FLYANDCLAIM en FLYANDCLAIM y sitios web de terceros, 3) para ayudarnos a detectar o prevenir actividades fraudulentas o realizar evaluaciones de
    riesgos o 4) para recabar información acerca de las actividades que usted realiza en la FLYANDCLAIM, otros sitios web o los anuncios en los que usted haya hecho clic. Por ejemplo, para ayudarnos a comprender mejor de qué forma utiliza la gente la
    FLYANDCLAIM, nosotros trabajamos con varios socios de análisis, incluido Google Analytics. Para evitar que Google Analytics utilice su información con fines de análisis, usted podrá instalar el complemento de inhabilitación para navegadores de Google
    Analytics
    <a href="https://tools.google.com/dlpage/gaoptout">haciendo clic aquí</a>.
    <br><br> Tales tecnologías de seguimiento también podrán ser utilizadas por terceros para colocar anuncios que en opinión de éstos tengan más probabilidades de captar su atención y para medir la eficacia de sus anuncios tanto en FLYANDCLAIM como en
    otros sitios web y servicios en línea. Las cookies de segmentación y de publicidad que utilizamos nosotros podrán incluir Google y otras redes y servicios de publicidad de los que hagamos uso. Para obtener más información sobre cookies de segmentación
    y publicidad y sobre cómo se deshabilitan, puede visitar la
    <a href="https://optout.networkadvertising.org/#!/">página de baja voluntaria de la Network Advertising Initiative</a>, la
    <a href="https://optout.aboutads.info/?c=2#!/">página de baja voluntaria de la Digital Advertising Alliance</a> o
    <a href="https://youronlinechoices.eu">https://youronlinechoices.eu</a>. Si desea darse de baja voluntaria de Google Analytics con fines de publicidad gráfica o personalizar anuncios de la Red de Display de Google, puede visitar la página
    <a href="https://adssettings.google.com/anonymous?sig=ACi0TCjrCfT5Dv3YlhfULyeM17UzSd-Pk-bfBlxrBuocD8BEgdN0v2EfZCT1Z0qupDFIcypW5G7S4b7PhhCaHJYGe8RzTd38cJzpepLSn1H_kv-SDwFde9U&hl=es">Configuración de Google Ads</a>. Es posible que, si la tecnología
    de publicidad está integrada en FLYANDCLAIM, usted siga recibiendo contenido publicitario a pesar de haberse dado de baja voluntaria de la publicidad a medida. En tal caso, el contenido publicitario no será adaptado a sus intereses. Asimismo, nosotros
    no controlamos estos enlaces de baja voluntaria ni respondemos de la disponibilidad o la precisión de estos mecanismos.
  </p>

  <h3>Configuración del navegador</h3>
  <p>
    Puede usted permitir, bloquear o eliminar las cookies instaladas en su equipo mediante la configuración de las opciones del navegador instalado en su equipo. A continuación le proporcionamos información a relativa sobre los navegadores más comerciales:
    <br><br>
    <a href="https://support.microsoft.com/es-es/help/17442/windows-internet-explorer-delete-manage-cookies">Información sobre Microsoft Internet Explorer</a>
    <br><br>
    <a href="https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-sitios-web-rastrear-preferencias?redirectlocale=es&redirectslug=habilitar-y-deshabilitar-cookies-que-los-sitios-we">Información sobre Mozilla Firefox</a>
    <br><br>
    <a href="https://support.google.com/chrome/answer/95647?hl=es">Información sobre Google Chrome</a>
    <br><br>
    <a href="https://support.apple.com/kb/ph5042?locale=es_ES">Información sobre Safari</a>
  </p>





</div>
