<div class="red-picture">
  <ul>
    <li>{{'Remember that if you do not have the flight reservation or ticket, or the boarding pass, we will not be able to process your claim.' | translate}}</li>
    <li class="red">{{'You must attach at least one of these three documents:' | translate}}</li>
      <ul>
        <li class="red small">{{'Flight reservation.' | translate}}</li>
        <li class="red small">{{'Flight ticket.' | translate}}</li>
        <li class="red small">{{'Boarding pass.' | translate}}</li>
      </ul>
    <li>{{'You can find your flight reservation in the confirmation email that the airline sent you when you bought the tickets.' | translate}} </li>
    <li>{{'Try searching the name of the airline in your email to find the reservation.' | translate}} </li>
    <li>{{'If you need help to find any of the above documents, send us an email to info@flyandclaim.com' | translate}} </li>
  </ul>
</div>
